.logo-principal {
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 0px;
    top: 0px;
    background-color: inherit;
    z-index: 10;
}
.logo-principal img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.logo-principal h1 {
    margin-bottom: 20px;
    color: white;
    font-size: 45px;
}
